:host {
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  box-shadow: 13px 15px 10px 3px darkgray;
  padding: 20px;
  flex: 1;
}

mat-form-field {
  display: block;
}

.button-row {
  display: flex;
  gap: 10px;
}

.error {
  color: #aa002c;
  display: flex;
  height: 2rem;
  font-weight: 500;
}

.new-user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4f4fff;
  font-weight: 500;
}
