<h1>Login</h1>
<form (submit)="login()" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="username" autofocus />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <div class="button-row">
    <button mat-raised-button color="warn">Einloggen</button>
    <a class="new-user" href="#" (click)="switchToRegister.emit()">Neuen User Registrieren</a>
  </div>
</form>
