<header>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main>
  <div>
    <img src="assets/hacker.svg"  alt="Hacker"/>
  </div>

  <div class="content">
    <app-login-form *ngIf="isLogin()" (switchToRegister)="showRegistration()" (loginSuccessful)="authenticated()"></app-login-form>
    <app-register-form *ngIf="isRegistration()" (exitRegistration)="showLogin()"></app-register-form>
    <app-profile *ngIf="isAuthenticated()" (logout)="showLogin()"></app-profile>
  </div>

  <div>
    <img src="assets/office.svg"  alt="Office"/>
  </div>
</main>

<footer>
  <img src="assets/logo_jku.svg" alt="JKU" />
  <img src="assets/logo_faw.svg" alt="FAW" />
  <img src="assets/logo_lit.svg" alt="LIT" />
  <img src="assets/logo_lndf.svg" alt="LNDF" />
</footer>
