<h1>Registrierung</h1>
<form [formGroup]="formGroup" (submit)="register($event)">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="name" autofocus />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" autocomplete="off" formControlName="username"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Passwort</mat-label>
    <input matInput type="password" formControlName="password"/>
  </mat-form-field>
  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <div class="button-row">
    <button mat-raised-button color="warn">Registrieren</button>
    <button mat-raised-button color="primary" type="button" (click)="exitRegistration.emit()">Abbrechen</button>
  </div>
</form>
